<br>
<form method="POST" action="/saved/random">
    <button type="submit">Random Restaurant</button>
</form>
{{#each restaurants}}
    <h2><a href="saved/{{this._id}}">{{this.name}}</a></h2>
    <p>{{this.address}}</p>
    <p>Google Rating: {{this.googleRating}}</p>
    {{#if this.userRating}}
        <p>Personal Rating: {{this.userRating}}</p>
    {{/if}}
    <hr>
{{/each}}